<!--
 * @Author: Mr.Hu
 * @Date: 2023-10-20 15:34:25
 * @Description: 
 * @LastEditors: Mr.Hu
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>
<script>
  // 实现一个call
  Object.prototype.mycall = (context, ...arg) => {
    if (typeof obj !== 'function') {
      console.error('入参错误，请传入函数类型入参');
      return;
    }
    const fn = Symbol('key');
    const context = context || globalThis;
    context[fn] = this;
    const result = context[fn](...arg);
    delete context[fn];
    return result;
  }
</script>